In [ ]:
# https://finance.yahoo.com/

In [27]:
import numpy as np
import pandas as pd
from pandas_datareader import data as wb
import matplotlib.pyplot as plt

In [34]:
tickers = ['PETR4.SA',  'MGLU3.SA']

datav = pd.DataFrame()

for t in tickers:
    datav[t] = wb.DataReader(t, data_source='yahoo', start='2021-1-1')['Adj Close']

In [35]:
datav.head()

             PETR4.SA   MGLU3.SA
Date
2021-01-04  23.497818  25.181740
2021-01-05  24.416273  24.742058
2021-01-06  24.465040  23.442999
2021-01-07  25.196552  23.143217
2021-01-08  25.294088  23.822723

In [36]:
datav.tail()

             PETR4.SA  MGLU3.SA
Date
2022-01-03  29.090000      6.72
2022-01-04  29.200001      6.61
2022-01-05  27.990000      6.42
2022-01-06  28.049999      6.25
2022-01-07  28.180000      6.22

In [37]:
ind_returns = (datav / datav.shift(1)) - 1

ind_returns.tail()

            PETR4.SA  MGLU3.SA
Date
2022-01-03  0.022496 -0.069252
2022-01-04  0.003781 -0.016369
2022-01-05 -0.041438 -0.028744
2022-01-06  0.002144 -0.026480
2022-01-07  0.004635 -0.004800

In [38]:
annual_ind_returns = ind_returns.mean() * 250
annual_ind_returns

PETR4.SA    0.278337
MGLU3.SA   -1.226866
dtype: float64